In [11]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/iris-d2/iris-new.numbers
/kaggle/input/irisdata/iris.data
/kaggle/input/iris-data/Iris.csv

In [12]:
df = pd.read_csv("../input/iris-data/Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [13]:
target_column = df['Species']

# Recode 'Setosa' to 0
target_column = np.where(target_column == 'Iris-setosa', 0, target_column)
target_column = np.where(target_column == 'Iris-versicolor', 1, target_column)
target_column = np.where(target_column == 'Iris-virginica', 2, target_column)
# target_column

df['Species'] = target_column
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0      1            5.1           3.5            1.4           0.2       0
1      2            4.9           3.0            1.4           0.2       0
2      3            4.7           3.2            1.3           0.2       0
3      4            4.6           3.1            1.5           0.2       0
4      5            5.0           3.6            1.4           0.2       0
..   ...            ...           ...            ...           ...     ...
145  146            6.7           3.0            5.2           2.3       2
146  147            6.3           2.5            5.0           1.9       2
147  148            6.5           3.0            5.2           2.0       2
148  149            6.2           3.4            5.4           2.3       2
149  150            5.9           3.0            5.1           1.8       2

[150 rows x 6 columns]

In [14]:
X = df
X = X.drop('Id', axis=1)
X

# Define the desired order of columns
desired_order = ['Species', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']

# Rearrange the columns using reindex
X = X.reindex(columns=desired_order)
X

    Species  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0         0            5.1           3.5            1.4           0.2
1         0            4.9           3.0            1.4           0.2
2         0            4.7           3.2            1.3           0.2
3         0            4.6           3.1            1.5           0.2
4         0            5.0           3.6            1.4           0.2
..      ...            ...           ...            ...           ...
145       2            6.7           3.0            5.2           2.3
146       2            6.3           2.5            5.0           1.9
147       2            6.5           3.0            5.2           2.0
148       2            6.2           3.4            5.4           2.3
149       2            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [15]:
first_col = X.iloc[:, 0]
other_cols = X.iloc[:, 1:]

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# Normalize the other columns using the scaler
normalized_cols = scaler.fit_transform(other_cols)

# Create a new DataFrame with the normalized columns
normalized_df = pd.DataFrame(normalized_cols, columns=other_cols.columns)

# Concatenate the first column with the normalized columns
result_df = pd.concat([first_col, normalized_df], axis=1)
result_df

    Species  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0         0      -0.900681      1.032057      -1.341272     -1.312977
1         0      -1.143017     -0.124958      -1.341272     -1.312977
2         0      -1.385353      0.337848      -1.398138     -1.312977
3         0      -1.506521      0.106445      -1.284407     -1.312977
4         0      -1.021849      1.263460      -1.341272     -1.312977
..      ...            ...           ...            ...           ...
145       2       1.038005     -0.124958       0.819624      1.447956
146       2       0.553333     -1.281972       0.705893      0.922064
147       2       0.795669     -0.124958       0.819624      1.053537
148       2       0.432165      0.800654       0.933356      1.447956
149       2       0.068662     -0.124958       0.762759      0.790591

[150 rows x 5 columns]

In [16]:
# Specify the file path and name
file_path = 'output.txt'

# Save the reshaped array to the file
# np.savetxt(file_path, X_normalized, fmt='%d', delimiter='\t')
np.savetxt(file_path, result_df)